fastapi==0.129.0
uvicorn==0.40.0
asyncpg==0.31.0
pydantic==2.12.5
httpx==0.28.1
slowapi==0.1.9
web3==7.14.1
eth-account==0.13.7
PyNaCl==1.6.2
boto3==1.42.77
jcs==0.2.1
python-multipart==0.0.27
starlette==0.52.1
APScheduler==3.11.2
